<div data-hook="admindesign_configuration_form_fields">
  <div class="row">
    <div class="col-4">
      <%= f.field_container :name do %>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
      <% end %>
    </div>
    <div class="col-4">
      <%= f.field_container :size do %>
          <%= f.label :size %>
          <%= f.select :size, Spree::Designs::Config.sizes.collect { |s| [s.to_s.titlecase, s] }, {}, class: 'select2 fullwidth' %>
      <% end %>
    </div>
  </div>

  <%= f.field_container :required do %>
    <%= f.label :required do %>
      <%= f.check_box :required %>
      <%= Spree::Variant.human_attribute_name(:required) %>
    <% end %>
  <% end %>

  <%= f.field_container :required do %>
    <%= f.label :virtual_proofable do %>
      <%= f.check_box :virtual_proofable %>
      <%= Spree::Variant.human_attribute_name(:virtual_proofable) %>
    <% end %>
  <% end %>

  <%= f.field_container :dimensions do %>
      <%= f.label :dimensions %>
      <%= f.text_field :dimensions, class: 'form-control' %>
  <% end %>

  <%= f.field_container :description do %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'fullwidth', rows: 6 %>
  <% end %>

</div>
