<div class="alpha eight columns">
  <div class="row">
    <div class="alpha four columns">
      <%= f.field_container :name do %>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
      <% end %>
    </div>
    <div class="omega four columns">
      <%= f.field_container :size do %>
          <%= f.label :size %>
          <%= f.select :size, Spree::Designs::Config.sizes.collect { |s| [s.to_s.titlecase, s] }, {}, class: 'select2 fullwidth' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="alpha four columns">
      <%= f.field_container :required do %>
          <%= f.label :required %>
          <%= f.check_box :required, class: 'checkbox' %>
      <% end %>
    </div>
    <div class="omega four columns">
      <%= f.field_container :virtual_proofable do %>
          <%= f.label :virtual_proofable %>
          <%= f.check_box :virtual_proofable, class: 'checkbox' %>
      <% end %>
    </div>
  </div>
</div>
<div class="omega offset-by-one eight columns">
  <%= f.field_container :dimensions do %>
      <%= f.label :dimensions %>
      <%= f.text_field :dimensions, class: 'form-control' %>
  <% end %>

  <%= f.field_container :description do %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'fullwidth', rows: 6 %>
  <% end %>
</div>