<div class="alpha eight columns">
  <div class="row">
    <div class="alpha four columns">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <small>Appears under the "Select a Customization" dropdown</small>
    </div>
    <div class="omega four columns">
      <%= f.label :label %><br/>
      <%= f.text_field :label, class: 'form-control' %>
      <small>Labels the associated charge in the order summary</small>
    </div>
  </div>
  <div class="row">
    <div class="alpha four columns">
      <%= f.label :medium %><br/>
      <%= f.select :medium, Spree::Designs::Config.mediums.collect { |s| [s.to_s.titlecase, s] }, {}, class: 'select2 fullwidth' %>
    </div>
  </div>
</div>
<div class="omega offset-by-one eight columns">
  <%= f.fields_for :meta, OpenStruct.new(f.object.meta) do |ff| %>
      <%= ff.label :description %>
      <%= ff.text_area :description, class: 'fullwidth', rows: 6 %>
  <% end %>
</div>


<div class="clear"></div>

<%= render 'spree/admin/shared/calculator_fields', :f => f %>