<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Personlization'} %>
<%= render :partial => 'spree/shared/error_messages', :locals => {:target => @design_option} %>

<% content_for :page_title do %>
  New Design Option
<% end %>

<% content_for :page_actions do %>
    <li>
      <%= button_link_to Spree.t(:back_to_design_configuration), admin_product_design_configuration_url(@design_configuration.product, @design_configuration), :icon => 'arrow-left' %>
    </li>
<% end %>

<%= form_for [:admin, @design_configuration, @design_option] do |f| %>
    <fieldset>
      <legend>New Design Option</legend>
      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= render :partial => 'spree/admin/shared/new_resource_links' %>
    </fieldset>
<% end %>
