<%= render 'spree/admin/users/sidebar' %>
<%= render 'spree/admin/users/tabs', current: :designs %>
<%= render :partial => 'spree/admin/users/user_page_actions' %>

<div class="alpha twelve columns">
  <% @user.designs.group_by(&:medium).each do |group, medium_designs| %>
      <h1><%= group.titlecase %></h1>

      <div style="clear: both;">
        <% medium_designs.group_by(&:size).each do |size, size_designs| %>
            <% size_designs.each do |design| %>
                <div style="display: inline-block; padding: 20px;">
                  <%= link_to design.rendering.url(:original), download: true do %>
                      <%= image_tag design.rendering.url(:small), style: 'max-width: 200px;' %>
                  <% end %>
                </div>
            <% end %>
        <% end %>
      </div>
  <% end %>
</div>
