<%= render 'spree/admin/users/sidebar' %>
<%= render 'spree/admin/users/tabs', current: :designs %>
<%= render :partial => 'spree/admin/users/user_page_actions' %>

<% content_for :page_title do %>
    Designs
<% end %>

<div class="alpha twelve columns">
  <table class="designs index" data-hook="line-items">
    <thead>
    <tr>
      <th>
        Design
      </th>
      <th>
        Edit
      </th>
      <th>
        Medium
      </th>
      <th>
        Size
      </th>
      <th>
        Deleted?
      </th>
      <th class="designs-actions actions">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <% @user.designs.with_deleted.each do |design| %>
        <tr class="align-center">
          <td>
            <%= link_to design.rendering.url(:original), download: true do %>
                <%= image_tag design.rendering.url(:small), style: 'max-width: 200px;' %>
            <% end %>
          </td>
          <td>
            <a class="edit-design" href="#" data-user-id="<%= design.user_id %>" data-design-id="<%= design.id %>">edit</a>
          </td>
          <td>
            <%= design.medium %>
          </td>
          <td>
            <%= design.size %>
          </td>
          <td>
            <%= !design.deleted_at.nil? %>
          </td>
          <td data-hook="admin_users_index_row_actions" class="actions">
            <% if can?(:edit, design) %>
                <%= link_to "", "javascript:void(0);", class: 'clone-design fa fa-copy no-text with-tip', title: 'Clone',
                            data: {
                                design_id: design.id,
                                user_id: design.user_id
                            }
                %>
            <% end %>
            <% if can?(:destroy, design) %>
                <%= link_to "", "javascript:void(0);", class: 'delete-design fa fa-trash no-text with-tip', title: 'Delete',
                            data: {
                                design_id: design.id
                            }
                %>
            <% end %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
