<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Design Configurations' } %>

<% content_for :page_title do %>
    <br/>
    <span style="margin-left: 10px">Design -</span>
    Configurations / <%= @design_option.design_configuration.name %> / Options / <%= @design_option.name %> / Images
<% end %>

<% content_for :page_actions do %>
    <% if can?(:create, Spree::Image) %>
        <li><%= link_to_with_icon('plus', Spree.t(:new_image), new_admin_design_option_image_url(@design_option), :id => 'new_image_link', :class => 'button') %></li>
    <% end %>
    <li>
      <%= button_link_to Spree.t(:back_to_design_option), edit_admin_design_configuration_design_option_url(@design_option.design_configuration, @design_option), :icon => 'arrow-left' %>
    </li>
<% end %>

<div id="images" data-hook></div>

<% unless @design_option.images.any? %>
    <div class="no-objects-found">
      <%= Spree.t(:no_images_found) %>.
    </div>
<% else %>
    <table class="index sortable" data-hook="images_table" data-sortable-link="<%= update_positions_admin_design_option_images_url(@design_option) %>">
      <colgroup>
        <col style="width: 5%">
        <col style="width: 15%">
        <col style="width: 60%">
        <col style="width: 15%">
      </colgroup>
      <thead>
      <tr data-hook="images_header">
        <th colspan="2"><%= Spree.t(:thumbnail) %></th>
        <th><%= Spree::Image.human_attribute_name(:alt) %></th>
        <th class="actions"></th>
      </tr>
      </thead>

      <tbody>
      <% @design_option.images.each do |image| %>
          <tr id="<%= spree_dom_id image %>" data-hook="images_row" class="<%= cycle('odd', 'even') %>">
            <td class="no-border">
              <% if can?(:update_positions, Spree::Image) %>
                  <span class="handle"></span>
              <% end %>
            </td>
            <td>
              <%= link_to image_tag(image.attachment.url(:small)), image.attachment.url(:medium) %>
            </td>
            <td><%= image.alt %></td>
            <td class="actions">
              <% if can?(:update, image) %>
                  <%= link_to_with_icon 'edit', Spree.t('actions.edit'), edit_admin_design_option_image_url(@design_option, image), :no_text => true, :data => { :action => 'edit' } %>
              <% end %>
              <% if can?(:destroy, image) %>
                  <%= link_to_delete image, { :url => admin_design_option_image_url(@design_option, image), :no_text => true } %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>